<p>
  coordonnee works!
</p>
<form >
    <h3>Coordonnée</h3> 
    <label>Numéro de dossier:</label> <input type="text"   value={{coordonneeBeneficiaire.numeroDossier}} id="numeroDossier" ngControl="numeroDossier"/>
    <label>Cin:</label><input type="text" value={{coordonneeBeneficiaire.cin}} id="cin" ngControl="cin"/>
    <br/><br/>
    <label>Nom:</label> <input type="text" id="nom" value={{coordonneeBeneficiaire.nom}} ngControl="nom"/>
    <label>Prénom:</label><input type="text" id="prenom" value={{coordonneeBeneficiaire.prenom}} ngControl="prenom"/>
    <label>Etat civil:</label>
    <select name="etatCivil" value={{coordonneeBeneficiaire.etatCivil}} >
        <option value="0">Célibataire</option>    
        <option value="1">Marié</option>
        <option value="2">Divorsé</option>
        <option value="3">orphelin</option>   
        <option value="3">autre</option>       
    </select>  
    <br/><br/>
    <label>Adresse:</label><input type="text" id="adresse" ngControl="adresse" value={{coordonneeBeneficiaire.adresse}}/>
    <label>Ville:</label>  
    <select name="ville" value={{coordonneeBeneficiaire.ville}}>
        <option value="0">Houmet souk</option>    
        <option value="1">El Mey</option>  
        <option value="2">Oualegh</option>  
        <option value="3">Midoun</option>  
        <option value="4">Guechaain</option>          
        <option value="5">Ajim</option>   
        <option value="6">Ghizen</option>       
    </select>  
    <label>Téléphone:</label><input type="text" id="telephone" ngControl="telephone"  value={{coordonneeBeneficiaire.telephone}}/>
    <label>Nombre de famille:</label><input type="text" id="nombreFamille" value={{coordonneeBeneficiaire.nombreMembreFamille}} ngControl="nombreMembreFamille"/>
 </form>