<div class=" clearfix align-middle v-center" style="margin-top: 30px;">
  <div class="container">
    <div class="panel panel-primary" style="height: 100%">
      <div class="panel-heading">
        <h3 class="panel-title">Connexion</h3>
      </div>
      <form action="" class="form">
        <div class="panel-body">
          <div class="row">
            <h3>Bienvenue à IHSANE</h3>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-9">
              <div class="row ">
                <div class="form-group">
                  <div class="col-md-12">
                    <label for="">Votre Email :</label>
                  </div>
                  <div class="col-md-12">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <div class="col-md-12">
                    <label for="">Votre mot de passe :</label>
                  </div>
                  <div class="col-md-12">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-12 text-right">
              <input type="submit" value="Connexion" class="btn btn-success">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
