
<form >
	<h3>Santé</h3> 
	<label>avez vous un handicap:</label> 
	<select name="handicap" id="handicap">
	        <option value="0">physique</option>    
	        <option value="1">mental</option>            
	    </select>  
	<label>Description handicap:</label><input id="descriptionHandicap" ngControl="descriptionHandicap" />
	<br/><br/>
	<label>avez vous une maladie chronique:</label>
	<select name="maladieChronique" id="maladieChronique">
	        <option value="0">diabete</option>    
	        <option value="1">tension</option>
	        <option value="2">dialyse</option>                       
	    </select> 
	<label>Description une maladie chronique:</label><input id="descriptionMaladieChronique" ngControl="descriptionMaladieChronique" />
	<br/><br/>
</form>