<form #formRessource="ngForm" (ngSubmit)="addRessourceBeneficaire(formRessource.value)">
	<div class="panel-group">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" href="#collapse4">Ressources</a>
				</h4>
			</div>
			<div id="collapse4" class="panel-collapse collapse">
				<div class="panel-body">
					<div id="collapse4">
						<h3>Ressources</h3>
						<label>Type de ressources:</label>
						<select name="typeRessource" id="typeRessource" [(ngModel)]="ressourceBeneficaire.typeRessource">
							<option value="0"></option>   
							<option value="1">salaire</option>    
							<option value="2">salaire femme/ salaire Marie</option>  
							<option value="3">en attente</option>  
							<option value="4">aide association</option>   
							<option value="5">louer</option>           
					</select>
						<label>Montant:</label><input id="montantRessources" name="montantRessources" [(ngModel)]="ressourceBeneficaire.montantRessource"
						/>
						<label>Description ressources:</label><input id="descriotionRessources" name="descriotionRessources" [(ngModel)]="ressourceBeneficaire.descriptionRessource"
						/>
						<br/><br/>
					</div>
					<div class="panel-footer">
						<button class="btn btn-success text-right" type="submit">Enregistrer</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>