<form>
	<h3>Ressources</h3>
	<label>Type de ressources:</label>
	<select name="typeRessource" id="typeRessource" value={{ressourceBeneficaire.typeRessource}}>
	        <option value="0"></option>   
	        <option value="1">salaire</option>    
	        <option value="2">salaire femme/ salaire Marie</option>  
	        <option value="3">en attente</option>  
	        <option value="4">aide association</option>   
	        <option value="5">louer</option>           
	 </select>
	<label>Montant:</label><input id="montantRessources" value={{ressourceBeneficaire.montantRessource}} ngControl="montantRessources"
	/>
	<label>Description ressources:</label><input id="descriotionRessources" value={{ressourceBeneficaire.descriptionRessource}}
	 ngControl="descriotionRessources" />

	<br/><br/>
	<br/><br/>
</form>